<a href="https://colab.research.google.com/github/Hamza7232/Numpy-Pandas-Matplotlib-Notes/blob/main/Hierarchical_Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,10, size=(4, 2)),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

     data1  data2
a 1      0      6
  2      5      0
b 1      4      3
  2      7      3

In [ ]:
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
y=pd.Series(data)
y.index.names = ['state', 'year']     # Names the multiple indexes to provide insight
y

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [ ]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                    names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                      names=['subject', 'type'])
# mock some data
data = np.round(np.random.randn(4, 6), 1)
#data[:, ::2] *= 10
data += 37
# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      36.7  37.4  36.9  36.8  35.3  38.2
     2      36.8  37.3  37.1  37.1  36.3  37.1
2014 1      35.4  37.4  36.4  38.0  36.2  37.3
     2      37.9  37.8  39.4  36.1  39.4  37.9

In [ ]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      36.9  36.8
     2      37.1  37.1
2014 1      36.4  38.0
     2      39.4  36.1

In [ ]:
health_data['Guido', 'HR']

year  visit
2013  1        36.9
      2        37.1
2014  1        36.4
      2        39.4
Name: (Guido, HR), dtype: float64

In [ ]:
health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      36.7  37.4
     2      36.8  37.3