<a href="https://colab.research.google.com/github/Hamza7232/Numpy-Pandas-Matplotlib-Notes/blob/main/Operating_on_Pandas_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
x=pd.Series([1,2,3,4], index=[0,1,2,3])
y=pd.Series([5,6,7,8], index=[1,2,3,4]) #index 0 and 4 dont have aligned data indexes so they are filled with NaN (not a number)
x+y

0     NaN
1     7.0
2     9.0
3    11.0
4     NaN
dtype: float64

In [ ]:
x.add(y, fill_value=0) #will add x and y but NaN is replaced with defualt values

0     1.0
1     7.0
2     9.0
3    11.0
4     8.0
dtype: float64

In [ ]:
A=pd.DataFrame(([1,2,3],
               [4,5,6],
               [7,8,9]),
              index=[1,2,3],columns=['A','B','C'])
B=pd.DataFrame(([4,5,6],
               [7,8,8]),
              index=[1,2],columns=['A','B','C'])
z=A+B
z

      A     B     C
1   5.0   7.0   9.0
2  11.0  13.0  14.0
3   NaN   NaN   NaN

In [ ]:
z.fillna(method='ffill', axis=0) # fills missing data with previous values

      A     B     C
1   5.0   7.0   9.0
2  11.0  13.0  14.0
3  11.0  13.0  14.0