<a href="https://colab.research.google.com/github/Hamza7232/Numpy-Pandas-Matplotlib-Notes/blob/main/Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
population_dict = {'California': 38332521,
                    'Texas': 26448193,
                    'New York': 19651127,
                    'Florida': 19552860,
                    'Illinois': 12882135}
area_dict = {'California': 423967, 
             'Texas': 695662, 
             'New York': 141297,
             'Florida': 170312, 
             'Illinois': 149995}
area = pd.Series(area_dict)
population = pd.Series(population_dict)
info=pd.DataFrame({'Population':population, 'Area':area}) #a DataFrame maps a column name to a Series of column data
print(info)                                               #like the series, area is given the name 'Area'

            Population    Area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [ ]:
info['Population']    #returns the whole series

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: Population, dtype: int64

In [ ]:
pd.DataFrame( ([8, 7, 4],
               [9, 4, 5],
               [3, 3, 6],
               [6, 9, 100]),
            columns=['foo', 'bar','ok'],
            index=['a', 'b', 'c', 'd'])

   foo  bar   ok
a    8    7    4
b    9    4    5
c    3    3    6
d    6    9  100

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
print(data)

1    a
3    b
5    c
dtype: object

In [ ]:
print(data.loc[1])
print(data.loc[1:3])   # loc uses explicit indexing

a
1    a
3    b
dtype: object

In [ ]:
print(data.iloc[1])
print(data.iloc[1:3])   # iloc implicit indexing

b
3    b
5    c
dtype: object

In [ ]:
info.iloc[:3, :2]    #implicit slicing

            Population    Area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

In [ ]:
info.loc[:'New York', :'Area']  #explicit slicing

            Population    Area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297