<a href="https://colab.research.google.com/github/Hamza7232/Numpy-Pandas-Matplotlib-Notes/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
x=np.array([1,2,3,4])
y=pd.Series(x)        #feed an array into pd.Series to get a panda series object
print(y)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
y.values  # values returns back the numpy array

array([1, 2, 3, 4])

In [ ]:
print(y[1])
print(y[1:3])

2
1    2
2    3
dtype: int64

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],   #explicitly define the index
index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
print(data['a']) #explicit indexing
print(data[0])   #implicit indexing

0.25
0.25

In [ ]:
population_dict = {'California': 38332521,
                    'Texas': 26448193,
                    'New York': 19651127,
                    'Florida': 19552860,
                    'Illinois': 12882135}
population = pd.Series(population_dict) #create a series using pyhton dictionary
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
population['California':'New York'] #Unlike a dictionary, though, the Series also supports array-style operations such as slicing done here

California    38332521
Texas         26448193
New York      19651127
dtype: int64